<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/style.less" rel="stylesheet">
        <script src="/lib/require.js" defer async="true"></script>
        <script src="/lib/require.js" data-main="/javascripts/main"></script>
    </head>
    <body>
        <h1><%= message %></h1>
        <a href="/login">登录</a>
        <div id="content"></div>
    </body>
</html>