html
    head
        title!= title
        script(src='/javascripts/main.js')
    body
        input(name='username', type='text', id='username')
        input(name='password', type='password', id='password')
        button(name='submit', type='button', id='btn') 登录